---
import { Button } from "../components/button.ts";
import { Button as JsButton } from "../components/jsbutton.js";
import { Container } from "../components/ReactContainer.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Web Components</h1>
    <section>
      <header>
        <h2>Lit component</h2>
        <p>Below is a native web component</p>
      </header>
      <Button variant="secondary">Click me</Button>
    </section>
    <section>
      <header>
        <h2>Lit JS component</h2>
        <p>Below is a native web component</p>
      </header>
      <JsButton variant="primary">Click me</JsButton>
    </section>
    <section>
      <header>
        <h2>React component</h2>
        <p>Below is a React component wrapping the native web component</p>
      </header>
      <Container client:only="react" />
    </section>
	</body>
</html>
